@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<!--HeaderPage Area Start-->
<header class="header-five">
    <!--Logo Mainmenu Start-->
    <div class="header-logo-menu sticker clearfix">
        <div class="logo-menu-bg">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="logo">
                        <a href="index.html"><img src="~/img/logo/logo-white.png" alt="TECHEDU"></a>
                    </div>
                </div>
                <div class="col-lg-8 d-none d-lg-block">
                    <div class="mainmenu-area">
                        <div class="mainmenu">
                            <nav>
                                <ul id="nav">
                                    
                                    <li><a href="about.html">About us</a></li>
                                    <li>
                                        <a href="class-grid.html">Classes <i class="fa fa-angle-down"></i></a>
                                        <ul class="sub-menu">
                                            <li><a href="class-grid.html">Classes Grid</a></li>
                                            <li><a href="class-list.html">Classes List</a></li>
                                            <li><a href="class-details.html">Class Details</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="teacher.html">Teachers<i class="fa fa-angle-down"></i></a>
                                        <ul class="sub-menu">
                                            <li><a href="teacher-info.html">Teachers Info</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="gallery.html">Gallery</a></li>
                                    <li>
                                        <a href="index.html">Pages <i class="fa fa-angle-down"></i></a>
                                        <ul class="sub-menu">
                                            <li class="current"><a href="index.html">Home Page</a></li>
                                            <li><a href="about.html">About Us</a></li>
                                            <li><a href="blog.html">Blog Page</a></li>
                                            <li><a href="blog-details.html">Blog Details Page</a></li>
                                            <li><a href="class-grid.html">Class Grid</a></li>
                                            <li><a href="class-list.html">Class List</a></li>
                                            <li><a href="class-details.html">Class Details</a></li>
                                            <li><a href="teacher.html">Teachers Page</a></li>
                                            <li><a href="teacher-info.html">Teachers Info</a></li>
                                            <li><a href="gallery.html">Gallery</a></li>
                                            <li><a href="contact.html">Contact</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="blog.html">Blog<i class="fa fa-angle-down"></i></a>
                                        <ul class="sub-menu">
                                            <li><a href="blog-details.html">Blog Details</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="contact.html">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="col-lg-1 col-md-6 col-sm-6 clearfix tab-menu">
                    <div class="header-right-tab">
                        <div class="search-box">
                            <ul class="header-search">
                                <li class="search-menu">
                                    <i id="toggle-search" class="fa fa-search"></i>
                                </li>
                            </ul>
                            <!--Search Form-->
                            <div class="search">
                                <div class="search-form">
                                    <form id="search-form" action="#">
                                        <input type="search" placeholder="Search here..." name="search" />
                                        <button type="submit">
                                            <span><i class="fa fa-search"></i></span>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!--End of Search Form-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End of Logo Mainmenu-->
    <!-- Mobile Menu Area start -->
    <div class="mobile-menu-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="mobile-menu">
                        <nav id="dropdown">
                            <ul>
                                <li>
                                    <a href="index.html">HOME</a>
                                    <ul>
                                        <li><a href="index-2.html">Homepage Version 2</a></li>
                                        <li><a href="index-3.html">Homepage Version 3</a></li>
                                        <li><a href="index-4.html">Homepage Version 4</a></li>
                                        <li><a href="index-5.html">Homepage Version 5</a></li>
                                    </ul>
                                </li>
                                <li><a href="about.html">About Us</a></li>
                                <li>
                                    <a href="class-grid.html">Classes</a>
                                    <ul>
                                        <li><a href="class-grid.html">Classes Grid</a></li>
                                        <li><a href="class-list.html">Classes List</a></li>
                                        <li><a href="class-details.html">Class Details</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="teacher.html">Teachers Page</a>
                                    <ul>
                                        <li><a href="teacher-info.html">Teachers Info</a></li>
                                    </ul>
                                </li>
                                <li><a href="gallery.html">Gallery</a></li>
                                <li>
                                    <a href="blog.html">Blog Page</a>
                                    <ul>
                                        <li><a href="blog-details.html">Blog Details</a></li>
                                    </ul>
                                </li>
                                <li><a href="contact.html">CONTACT</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Mobile Menu Area end -->
</header>
<!--End of HeaderPage Area-->