@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@



<!--MessageLetter Area Start-->
<div class="newsletter-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form class="newsletter-container">
                    <div class="row">
                        <div class="col-lg-3 col-md-4 col-sm-12">
                            <h4>
                                You want to know more <br>
                                infomation? send us a mail!
                            </h4>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6">
                            <input type="text" name="subject" placeholder="Subject*">
                            <input type="text" name="name" placeholder="Your Name*">
                            <input type="email" name="email" placeholder="Your Email*">
                        </div>
                        <div class="col-lg-6 col-md-4 col-sm-6">
                            <textarea name="message" id="newsletter-msg" placeholder="Your Message"></textarea>
                            <button class="button-default">Send</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--End of MessageLetter Area-->