@using Core.Extensions

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<!--Skill information Area Start-->
<div class="skill-information-area section-gray section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="about-skill-text">
                    <h2>@("PageWelcomeTextHeader.Localization".Translate())</h2>
                    <br />
                    <p>@("WelcomeDescriptionWideText.TranslateLocalization".Translate())</p>
                    @*<a href="#" class="button-default button-yellow">View More</a>*@
                </div>
            </div>
            <div class="col-lg-6">
                <!-- #region Skill Bar -->
                @*<div class="skill-bars">
            <div class="orange">
                <div class="skill-bar-item">
                    <span>Playing Science</span>
                    <div class="progress">
                        <div class="progress-bar wow fadeInLeft" data-progress="80%" style="width: 80%;" data-wow-duration="1.5s" data-wow-delay="1.2s">
                            <span class="text-top">80%</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="lemon">
                <div class="skill-bar-item">
                    <span>Arts And Craft</span>
                    <div class="progress">
                        <div class="progress-bar wow fadeInLeft" data-progress="75%" style="width: 75%;" data-wow-duration="1.5s" data-wow-delay="1.2s">
                            <span class="text-top">75%</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sea-green">
                <div class="skill-bar-item no-margin">
                    <span>Creative Writing</span>
                    <div class="progress no-margin">
                        <div class="progress-bar wow fadeInLeft" data-progress="90%" style="width: 90%;" data-wow-duration="1.5s" data-wow-delay="1.2s">
                            <span class="text-top">90%</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@

                <!-- #endregion -->

            </div>
        </div>
    </div>
</div>
<!--End of Skill information Area-->