@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<!--Gallery Area Start-->
<div class="gallery-area section-padding-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title-wrapper">
                    <div class="section-title">
                        <h3>Our Gallery</h3>
                        <p>Discove Our Kindergarten Photo Gallery</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="filter-menu">
                    <ul>
                        <li class="filter" data-filter="all">All</li>
                        <li class="filter" data-filter=".drawing">Drawing</li>
                        <li class="filter" data-filter=".excursions">Excursions</li>
                        <li class="filter" data-filter=".courses">Courses</li>
                        <li class="filter" data-filter=".play">Play time</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="gallery-row">
            <div class="row filter-items">
                <div class="col-lg-3 col-md-6 col-sm-6 col-12 mb-18 mix single-items drawing overlay-hover">
                    <div class="overlay-effect">
                        <a href="#"><img src="~/img/gallery/1.jpg" alt=""></a>
                        <div class="gallery-hover-effect">
                            <a class="gallery-icon venobox" href="img/gallery/1.jpg"><i class="fa fa-image"></i></a>
                            <span class="gallery-text">Drawings</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12 mb-18 mix single-items play courses  overlay-hover">
                    <div class="overlay-effect">
                        <a href="#"><img src="~/img/gallery/2.jpg" alt=""></a>
                        <div class="gallery-hover-effect">
                            <a class="gallery-icon venobox" href="img/gallery/2.jpg"><i class="fa fa-image"></i></a>
                            <span class="gallery-text">Activities, Photos</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12 mb-18 mix single-items play overlay-hover">
                    <div class="overlay-effect">
                        <a href="#"><img src="~/img/gallery/3.jpg" alt=""></a>
                        <div class="gallery-hover-effect">
                            <a class="gallery-icon venobox" href="img/gallery/3.jpg"><i class="fa fa-image"></i></a>
                            <span class="gallery-text">Play Time</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12 mb-18 mix single-items play excursions overlay-hover">
                    <div class="overlay-effect">
                        <a href="#"><img src="~/img/gallery/4.jpg" alt=""></a>
                        <div class="gallery-hover-effect">
                            <a class="gallery-icon venobox" href="img/gallery/4.jpg"><i class="fa fa-image"></i></a>
                            <span class="gallery-text">Excursions, Play</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12 mb-18 mix single-items courses excursions overlay-hover">
                    <div class="overlay-effect">
                        <a href="#"><img src="~/img/gallery/5.jpg" alt=""></a>
                        <div class="gallery-hover-effect">
                            <a class="gallery-icon venobox" href="img/gallery/5.jpg"><i class="fa fa-image"></i></a>
                            <span class="gallery-text">Courses, Exursions</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12 mb-18 mix single-items drawing overlay-hover">
                    <div class="overlay-effect">
                        <a href="#"><img src="~/img/gallery/12.jpg" alt=""></a>
                        <div class="gallery-hover-effect">
                            <a class="gallery-icon venobox" href="img/gallery/12.jpg"><i class="fa fa-image"></i></a>
                            <span class="gallery-text">Drawing</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12 mb-18 mix single-items courses excursions overlay-hover">
                    <div class="overlay-effect">
                        <a href="#"><img src="~/img/gallery/6.jpg" alt=""></a>
                        <div class="gallery-hover-effect">
                            <a class="gallery-icon venobox" href="img/gallery/6.jpg"><i class="fa fa-image"></i></a>
                            <span class="gallery-text">Excursions, Courses</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12 mb-18 mix single-items drawing excursions overlay-hover">
                    <div class="overlay-effect">
                        <a href="#"><img src="~/img/gallery/10.jpg" alt=""></a>
                        <div class="gallery-hover-effect">
                            <a class="gallery-icon venobox" href="img/gallery/10.jpg"><i class="fa fa-image"></i></a>
                            <span class="gallery-text">Drawing, Exursions</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="view-gallery text-center">
                    <h4>See Our Kindergarten <span>Photo Gallery!</span></h4>
                    <a href="#" class="button-default button-yellow">View Now</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Gallery Area-->