@using Core.Extensions

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@



<!--Breadcrumb Banner Area Start-->
<div class="breadcrumb-banner-area blog">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-text">
                    <h1 class="text-center">@("BlogDetailPageCaptionText.ViewLocalization".Translate())</h1>
                    <div class="breadcrumb-bar">
                        <ul class="breadcrumb">
                            <li>@Html.ActionLink("HomePageNavLink.ViewLocalization".Translate(), "TouchIndex", "Home", new { area = "Global" })</li>
                            <li>@("BlogDetailPageCaptionText.ViewLocalization".Translate())</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Breadcrumb Banner Area-->
