@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@





<!--Class Area Start-->
<div class="class-area section-padding-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="single-title">
                    <h3>Register Classes</h3>
                </div>
            </div>
        </div>
        <div class="class-carousel carousel-style-one owl-carousel">
            <div class="single-class">
                <div class="single-class-image">
                    <a href="#">
                        <img src="~/img/class/10.jpg" alt="">
                        <span class="class-date">Apr 21 <span>2016</span></span>
                    </a>
                </div>
                <div class="single-class-text">
                    <div class="class-des">
                        <h4><a href="#">Letter Match Class</a></h4>
                        <p>The concept of the activity room is about 'Learning', through play, in a totally different environment. The perfect class for your child with the best.</p>
                    </div>
                    <div class="class-schedule">
                        <span>AGE: 5 - 6 years</span>
                        <span>CLASS SIZE: 25</span>
                        <span class="arrow"><a href="#"><i class="fa fa-angle-right"></i></a></span>
                    </div>
                </div>
            </div>
            <div class="single-class">
                <div class="single-class-image">
                    <a href="#">
                        <img src="~/img/class/11.jpg" alt="">
                        <span class="class-date">OCT 10 <span>2016</span></span>
                    </a>
                </div>
                <div class="single-class-text">
                    <div class="class-des">
                        <h4><a href="#">Cool Math Class</a></h4>
                        <p>The students learn different skills like rhythm, flexibility, and coordination. Lorem ipsum dolor sit amet. The perfect class for your child with the best.</p>
                    </div>
                    <div class="class-schedule">
                        <span>AGE: 4 - 5 years</span>
                        <span>CLASS SIZE: 38</span>
                        <span class="arrow"><a href="#"><i class="fa fa-angle-right"></i></a></span>
                    </div>
                </div>
            </div>
            <div class="single-class">
                <div class="single-class-image">
                    <a href="#">
                        <img src="~/img/class/12.jpg" alt="">
                        <span class="class-date">FEB 19 <span>2016</span></span>
                    </a>
                </div>
                <div class="single-class-text">
                    <div class="class-des">
                        <h4><a href="#">Alphabet Matching Class</a></h4>
                        <p>The concept of the activity room is about 'Learning', through play, in a totally different environment. The perfect class for your child with the best.</p>
                    </div>
                    <div class="class-schedule">
                        <span>AGE: 3 - 4 years</span>
                        <span>CLASS SIZE: 50</span>
                        <span class="arrow"><a href="#"><i class="fa fa-angle-right"></i></a></span>
                    </div>
                </div>
            </div>
            <div class="single-class">
                <div class="single-class-image">
                    <a href="#">
                        <img src="~/img/class/10.jpg" alt="">
                        <span class="class-date">Apr 21 <span>2016</span></span>
                    </a>
                </div>
                <div class="single-class-text">
                    <div class="class-des">
                        <h4><a href="#">Letter Match Class</a></h4>
                        <p>The students learn different skills like rhythm, flexibility, and coordination. Lorem ipsum dolor sit amet. The perfect class for your child with the best.</p>
                    </div>
                    <div class="class-schedule">
                        <span>AGE: 5 - 6 years</span>
                        <span>CLASS SIZE: 25</span>
                        <span class="arrow"><a href="#"><i class="fa fa-angle-right"></i></a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Class Area-->