@model Core.Entities.Dtos.Localization.EditLocalizationDto

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutAdminPanelBootstrap.cshtml";
}

<h1>Edit</h1>

<h4>EditLocalizationDto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Created_by" class="control-label"></label>
                <input asp-for="Created_by" class="form-control" />
                <span asp-validation-for="Created_by" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Created_at" class="control-label"></label>
                <input asp-for="Created_at" class="form-control" />
                <span asp-validation-for="Created_at" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Key" class="control-label"></label>
                <input asp-for="Key" class="form-control" />
                <span asp-validation-for="Key" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TranslateRUS" class="control-label"></label>
                <input asp-for="TranslateRUS" class="form-control" />
                <span asp-validation-for="TranslateRUS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TranslateAZE" class="control-label"></label>
                <input asp-for="TranslateAZE" class="form-control" />
                <span asp-validation-for="TranslateAZE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TranslateENG" class="control-label"></label>
                <input asp-for="TranslateENG" class="form-control" />
                <span asp-validation-for="TranslateENG" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TranslateTUR" class="control-label"></label>
                <input asp-for="TranslateTUR" class="form-control" />
                <span asp-validation-for="TranslateTUR" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
