@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<!--Google Map Area Start -->
<div class="google-map-area">
    <!--  Map Section -->
    <div id="contacts" class="map-area">
        <div id="googleMap" style="width:100%;height:451px;"></div>
    </div>
    <div class="breadcrumb-bar">
        <ul class="breadcrumb">
            <li><a href="index.html">Home Page</a></li>
            <li>Contact</li>
        </ul>
    </div>
</div>
<!--End of Google Map Area-->