@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<!--Small Service Area Start-->
<div class="small-service-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title-wrapper">
                    <div class="section-title">
                        <h3>Our Services</h3>
                        <p>Our best services for your Kids</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="single-small-service">
                    <div class="small-service-icon">
                        <i class="fa fa-cutlery"></i>
                    </div>
                    <div class="small-services-text">
                        <h4>Meals Provided</h4>
                        <p>It has survived not only five but also the lorem ipsum is leap of into electronic typesetting, remaining essentially unchanged.</p>
                    </div>
                </div>
                <div class="single-small-service">
                    <div class="small-service-icon">
                        <i class="fa fa-calendar-check-o"></i>
                    </div>
                    <div class="small-services-text">
                        <h4>Full Day Session</h4>
                        <p>And more recently with desktop ispsing with the publishing software like Aldus PageMaker including of Lorem Ipsum.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="single-small-service">
                    <div class="small-service-icon">
                        <i class="fa fa-language"></i>
                    </div>
                    <div class="small-services-text">
                        <h4>Language Lessons</h4>
                        <p>Lorem ipsum dolor sit amet al cotetur adipisicing elit, sed do mod tempor incididunt ut labore etdolore versions ipsum!</p>
                    </div>
                </div>
                <div class="single-small-service">
                    <div class="small-service-icon">
                        <i class="fa fa-bookmark"></i>
                    </div>
                    <div class="small-services-text">
                        <h4>Special Education</h4>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a page looking at its layout.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="single-small-service">
                    <div class="small-service-icon">
                        <i class="fa fa-bus"></i>
                    </div>
                    <div class="small-services-text">
                        <h4>Transportation</h4>
                        <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages when is looking.</p>
                    </div>
                </div>
                <div class="single-small-service">
                    <div class="small-service-icon">
                        <i class="fa fa-graduation-cap"></i>
                    </div>
                    <div class="small-services-text">
                        <h4>Qualified Teachers</h4>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Small Service Area-->