@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<!--Phrases Carousel Area Start-->
<div class="testimonial-carousel-area section-padding section-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title-wrapper">
                    <div class="section-title">
                        <h3>Our Testimonials</h3>
                        <p>How real people said about Education TechEdu</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="testimonial-carousel carousel-style-one border-white owl-carousel">
            <div class="single-testimonial-carousel">
                <div class="testimonial-carousel-text">
                    <h4>Good facility</h4>
                    <p>“ Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lacus nibh, vulputate eu diam non, sodales tincidunt ligula. Pellentesque molestie nisl in dolor gravida commodo. Lorem ipsum dolor sit amet. ”</p>
                </div>
                <div class="testimonial-information">
                    <div class="testimonial-image">
                        <img src="~/img/teacher/12.jpg" alt="">
                    </div>
                    <div class="testimonial-name">
                        <h4>Graves</h4>
                        <span>Art Director</span>
                    </div>
                </div>
            </div>
            <div class="single-testimonial-carousel">
                <div class="testimonial-carousel-text">
                    <h4>Awsome services</h4>
                    <p>“ It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters. ”</p>
                </div>
                <div class="testimonial-information">
                    <div class="testimonial-image">
                        <img src="~/img/teacher/13.jpg" alt="">
                    </div>
                    <div class="testimonial-name">
                        <h4>Braum</h4>
                        <span>English Lecturer</span>
                    </div>
                </div>
            </div>
            <div class="single-testimonial-carousel">
                <div class="testimonial-carousel-text">
                    <h4>Good facility</h4>
                    <p>“ Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lacus nibh, vulputate eu diam non, sodales tincidunt ligula. Pellentesque molestie nisl in dolor gravida commodo. Lorem ipsum dolor sit amet. ”</p>
                </div>
                <div class="testimonial-information">
                    <div class="testimonial-image">
                        <img src="~/img/teacher/12.jpg" alt="">
                    </div>
                    <div class="testimonial-name">
                        <h4>Graves</h4>
                        <span>Art Director</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Phrases Carousel Area-->