@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<!--Teachers Area Start-->
<div class="teachers-area section-margin teachers-area-two">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title-wrapper">
                    <div class="section-title">
                        <h3>Our Teachers</h3>
                        <p>We are glad to introduce our professional staff</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="teacher-image">
                    <img src="~/img/teacher/17.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="testimonial-image-text-wrapper">
                    <div class="testimonial-text-slider">
                        <div class="sin-testiText">
                            <h2>Chowchilla Madera</h2>
                            <span class="language">Spanish Teacher</span>
                            <div class="teacher-info-container">
                                <p><i class="fa fa-graduation-cap"></i>Degree: Spanish Literature Master</p>
                                <p><i class="fa fa-star"></i>Experience: 2 Years in Preschool Education</p>
                                <p><i class="fa fa-edit"></i>My Courses: Paint Kiddie, Mini Kiddie</p>
                            </div>
                            <p>In omnesque menandri urbanitas est, et ipsum quidam noster mei. Commodo ocurrer adversarium cu mei, utinam veritus sea ei, ne legere abhorreant usu. Dicam praesent conclusionemque et vix. Autem fabulas blandit ad eam, sit animal sanctus ea. At vis laoreet appetere probatus, invidunt accusata usu cu.</p>
                            <div class="teacher-links">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                            <a href="#" class="button-default button-yellow">View Profile</a>
                        </div>
                        <div class="sin-testiText">
                            <h2>Kattie Luis</h2>
                            <span class="language">English Teacher</span>
                            <div class="teacher-info-container">
                                <p><i class="fa fa-graduation-cap"></i>Degree: English Literature Master</p>
                                <p><i class="fa fa-star"></i>Experience: 5 Years in High Education</p>
                                <p><i class="fa fa-edit"></i>My Courses: Paint Kiddie, Mini Kiddie</p>
                            </div>
                            <p>Mollitia magni harum quo in enim tempore eius aperiam ipsa iste recusandae, qui iusto animi aspernatur, natus, a tempora, corporis quidem ab provident atque ut ef ratione aliquid! Impedit totam rem repudiandae nesciunt labore, ipsa et, praesentium natus pariatur ex nisi qui quo dolorem provident atque.</p>
                            <div class="teacher-links">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                            <a href="#" class="button-default button-yellow">View Profile</a>
                        </div>
                        <div class="sin-testiText">
                            <h2>James Slock</h2>
                            <span class="language">Japanese Teacher</span>
                            <div class="teacher-info-container">
                                <p><i class="fa fa-graduation-cap"></i>Degree: Japanese Literature Master</p>
                                <p><i class="fa fa-star"></i>Experience: 6 Years in School Education</p>
                                <p><i class="fa fa-edit"></i>My Courses: Language Kiddie, Learn Kiddie</p>
                            </div>
                            <p>Placeat optio hic veniam, perferendis soluta repellendus at itaque voluptate voluptates cupiditate, deserunt ipsum unde aperiam saepe, incidunt ullam. Voluptate fugiat sint blanditiis illum, tenetur excepturi doloremque ipsa rerum nulla magnam quos nostrum nostrum atque eveniet ea, perspiciatis atque ut doloremque.</p>
                            <div class="teacher-links">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                            <a href="#" class="button-default button-yellow">View Profile</a>
                        </div>
                        <div class="sin-testiText">
                            <h2>Julia Thomson</h2>
                            <span class="language">Chinese Teacher</span>
                            <div class="teacher-info-container">
                                <p><i class="fa fa-graduation-cap"></i>Degree: Chinese Literature Master</p>
                                <p><i class="fa fa-star"></i>Experience: 1 Years in Preschool Education</p>
                                <p><i class="fa fa-edit"></i>My Courses: Activities Kiddie</p>
                            </div>
                            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea porro sed pariatur est vel culpa. Quaerat veniam eius fuga tenetur, beatae quam doloremque consequuntur, quidem totam eos magnam quos nostrum atque eveniet ea, perspiciatis deleniti quasi delectus. Vitae assumenda, facilis quia mollitia qui.</p>
                            <div class="teacher-links">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                            <a href="#" class="button-default button-yellow">View Profile</a>
                        </div>
                        <div class="sin-testiText">
                            <h2>Chowchilla Madera</h2>
                            <span class="language">Spanish Teacher</span>
                            <div class="teacher-info-container">
                                <p><i class="fa fa-graduation-cap"></i>Degree: Spanish Literature Master</p>
                                <p><i class="fa fa-star"></i>Experience: 2 Years in Preschool Education</p>
                                <p><i class="fa fa-edit"></i>My Courses: Paint Kiddie, Mini Kiddie</p>
                            </div>
                            <p>In omnesque menandri urbanitas est, et ipsum quidam noster mei. Commodo ocurrer adversarium cu mei, utinam veritus sea ei, ne legere abhorreant usu. Dicam praesent conclusionemque et vix. Autem fabulas blandit ad eam, sit animal sanctus ea. At vis laoreet appetere probatus, invidunt accusata usu cu.</p>
                            <div class="teacher-links">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                            <a href="#" class="button-default button-yellow">View Profile</a>
                        </div>
                        <div class="sin-testiText">
                            <h2>Kattie Luis</h2>
                            <span class="language">English Teacher</span>
                            <div class="teacher-info-container">
                                <p><i class="fa fa-graduation-cap"></i>Degree: English Literature Master</p>
                                <p><i class="fa fa-star"></i>Experience: 5 Years in High Education</p>
                                <p><i class="fa fa-edit"></i>My Courses: Paint Kiddie, Mini Kiddie</p>
                            </div>
                            <p>Mollitia magni harum quo in enim tempore eius aperiam ipsa iste recusandae, qui iusto animi aspernatur, natus, a tempora, corporis quidem ab provident atque ut ef ratione aliquid! Impedit totam rem repudiandae nesciunt labore, ipsa et, praesentium natus pariatur ex nisi qui quo dolorem provident atque.</p>
                            <div class="teacher-links">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                            <a href="#" class="button-default button-yellow">View Profile</a>
                        </div>
                        <div class="sin-testiText">
                            <h2>James Slock</h2>
                            <span class="language">Japanese Teacher</span>
                            <div class="teacher-info-container">
                                <p><i class="fa fa-graduation-cap"></i>Degree: Japanese Literature Master</p>
                                <p><i class="fa fa-star"></i>Experience: 6 Years in School Education</p>
                                <p><i class="fa fa-edit"></i>My Courses: Language Kiddie, Learn Kiddie</p>
                            </div>
                            <p>Placeat optio hic veniam, perferendis soluta repellendus at itaque voluptate voluptates cupiditate, deserunt ipsum unde aperiam saepe, incidunt ullam. Voluptate fugiat sint blanditiis illum, tenetur excepturi doloremque ipsa rerum nulla magnam quos nostrum nostrum atque eveniet ea, perspiciatis atque ut doloremque.</p>
                            <div class="teacher-links">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                            <a href="#" class="button-default button-yellow">View Profile</a>
                        </div>
                        <div class="sin-testiText">
                            <h2>Julia Thomson</h2>
                            <span class="language">Chinese Teacher</span>
                            <div class="teacher-info-container">
                                <p><i class="fa fa-graduation-cap"></i>Degree: Chinese Literature Master</p>
                                <p><i class="fa fa-star"></i>Experience: 1 Years in Preschool Education</p>
                                <p><i class="fa fa-edit"></i>My Courses: Activities Kiddie</p>
                            </div>
                            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea porro sed pariatur est vel culpa. Quaerat veniam eius fuga tenetur, beatae quam doloremque consequuntur, quidem totam eos magnam quos nostrum atque eveniet ea, perspiciatis deleniti quasi delectus. Vitae assumenda, facilis quia mollitia qui.</p>
                            <div class="teacher-links">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                            <a href="#" class="button-default button-yellow">View Profile</a>
                        </div>
                    </div>
                    <div class="testimonial-image-slider text-center">
                        <div class="sin-testiImage">
                            <div class="teacher-image-carousel">
                                <img src="~/img/teacher/2.jpg" alt="teacher 1" />
                            </div>
                        </div>
                        <div class="sin-testiImage">
                            <div class="teacher-image-carousel">
                                <img src="~/img/teacher/3.jpg" alt="teacher 2" />
                            </div>
                        </div>
                        <div class="sin-testiImage">
                            <div class="teacher-image-carousel">
                                <img src="~/img/teacher/4.jpg" alt="teacher 3" />
                            </div>
                        </div>
                        <div class="sin-testiImage">
                            <div class="teacher-image-carousel">
                                <img src="~/img/teacher/5.jpg" alt="teacher 4" />
                            </div>
                        </div>
                        <div class="sin-testiImage">
                            <div class="teacher-image-carousel">
                                <img src="~/img/teacher/2.jpg" alt="teacher 1" />
                            </div>
                        </div>
                        <div class="sin-testiImage">
                            <div class="teacher-image-carousel">
                                <img src="~/img/teacher/3.jpg" alt="teacher 2" />
                            </div>
                        </div>
                        <div class="sin-testiImage">
                            <div class="teacher-image-carousel">
                                <img src="~/img/teacher/4.jpg" alt="teacher 3" />
                            </div>
                        </div>
                        <div class="sin-testiImage">
                            <div class="teacher-image-carousel">
                                <img src="~/img/teacher/5.jpg" alt="teacher 4" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Teachers Area-->